<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308030558666-eoio2bk34r3ucerlbb1p59a2grdc8tcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308030558666-eoio2bk34r3ucerlbb1p59a2grdc8tcv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>308030558666-qtm21b3vjq4abfhh09il0st7dbabtf3m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZoxD7_4d1w9BR-s__rCICVTiXI71GuQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>308030558666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfire</string>
	<key>PROJECT_ID</key>
	<string>hwafire-4cae8</string>
	<key>STORAGE_BUCKET</key>
	<string>hwafire-4cae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308030558666:ios:9c3e1411e3a1bf7efdbf33</string>
	<key>DATABASE_URL</key>
	<string>https://hwafire-4cae8.firebaseio.com</string>
</dict>
</plist>